.active {
  background-color: aquamarine;
  padding: 10px;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: white;
}

a {
  color: white;
  margin: 10px;
}
ul a {
  color: yellowgreen;
}

button {
  padding: 10px;
  background: blue;
  border: none;
  color: white;
  cursor: pointer;
}
